---

- name: Instala o Nautilus e o rabbitvcs
  ansible.builtin.apt: 
    update_cache: true
    name:
      - nautilus 
      - rabbitvcs-nautilus 
      - git
    state: present
  become: true

- name: Configura o nautilus como gerenciador de arquivos padrão no Xfce
  ansible.builtin.lineinfile:
    path: /home/{{user.login}}/.config/xfce4/helpers.rc
    regexp: '^FileManager'
    line: 'FileManager=nautilus'
    state: present 
    create: true
    owner: '{{user.login}}'
    group: '{{user.group}}'

- name: Restaura os arquivos e pastas de configuração
  ansible.builtin.include_role:
    name: common
    tasks_from: restore_configuration_files.yaml
  vars:
    soures:
      - '.config/nautilus/'
  when: restaurar_backup

...